*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

 body{
  height: 100vh;
} 

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  /* border:2px solid black; */
}

.left{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
}

.image-circle{
  width: 300px;
  height: 300px;
  /* border: 1px solid red; */
  border-radius: 50%;
  background-image: url("https://i.pinimg.com/736x/11/69/6a/11696a79c0895e164359cbab5c3073b5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.left p{
  text-align: center;
  margin-top: 10px;
  max-width: 500px;
}

.right{
  width: 30%;
  display:flex;
  background-color:aqua;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */

}

input[type="radio"]{
  display: none;
}

.card{
  width: 80%;
  padding: 20px;
  background-color:white;
  border:1px solid #ccc;
  border-radius: 5px;
  display: none;

}


.card h2{
  text-align: center;
  margin-bottom: 15px;

}
.card input{
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.card button{
  width: 100%;
  margin-top: 4px;
  border: none;
  background: blue;
  color:white;
  padding: 8px;
  cursor: pointer;
}

.link{
  color:blue;
  cursor: pointer;
  text-decoration: underline;
}

.card p {
    margin-top: 10px;
    text-align: center;
}

 #login:checked ~ .login-card{
  display: block;
}

#signup:checked ~ .signup-card{
  display: block;
} 